# Git
.git
.gitignore

# Entornos y Secretos (CRÍTICO: No subir .env a la imagen)
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.Python

# Airflow (Archivos locales que Railway no debe usar)
logs/
airflow.db
airflow-webserver.pid
unittests.cfg

# Datos Locales (Para que no pesen en el despliegue)
data/
*.csv
*.xlsx
*.json

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Tests y Cobertura
.pytest_cache/
.coverage
htmlcov/
tests/

# Docker Local
postgres-db-volume/
redis-data/
