# Airflow Configuration
AIRFLOW_HOME=/opt/airflow
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
# Llave Fernet generada (Base64 de 32 bytes)
AIRFLOW__CORE__FERNET_KEY=7X7lR9-5X-W2u8W8x9X_Y7z6W5v4U3t2S1R0PqOnMlKj=
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

# Database (Ajustado para Railway)
# Se usa 'railway' como nombre de DB por defecto de la plataforma
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:TU_PASSWORD@postgres.railway.internal:5432/railway

# Redis (Ajustado para Railway)
AIRFLOW__CELERY__BROKER_URL=redis://:TU_PASSWORD@redis.railway.internal:6379/0

# Environment
ENVIRONMENT=production
DEBUG=False
PYTHONUNBUFFERED=1
