[core]
# Executor
executor = CeleryExecutor
load_examples = False

# Database
sql_alchemy_conn = postgresql+psycopg2://airflow:airflow@postgres:5432/airflow

# DAGs
dags_folder = /opt/airflow/dags
max_active_runs_per_dag = 1
catchup_by_default = False

# Logging
log_level = INFO
log_format = [%%(asctime)s] {%%(filename)s:%%(lineno)d} %%(levelname)s - %%(message)s

[webserver]
base_url = http://localhost:8080
expose_config = False
min_refresh_interval = 10

[celery]
broker_url = redis://:@redis:6379/0
result_backend = db+postgresql://airflow:airflow@postgres:5432/airflow

[scheduler]
dag_dir_list_interval = 600
processor_poll_interval = 10
