[core]
# El motor que permite ejecutar múltiples tareas a la vez
executor = SequentialExecutor
load_examples = False

# IMPORTANTE: No escribas la contraseña aquí. 
# Airflow la tomará de la variable AIRFLOW__DATABASE__SQL_ALCHEMY_CONN que pusiste en Railway
sql_alchemy_conn = ${AIRFLOW__DATABASE__SQL_ALCHEMY_CONN}

# Configuración para tus proyectos de la SCT y Pokémon
dags_folder = /opt/airflow/dags
max_active_runs_per_dag = 1
catchup_by_default = False

# Fernet Key: Crucial para evitar el ValueError que tuviste
fernet_key = ${AIRFLOW__CORE__FERNET_KEY}

[webserver]
base_url = http://localhost:8080
web_server_port = 8080
expose_config = False
# Intervalo de refresco más rápido para ver tus cambios
min_refresh_interval = 10

[celery]
# Broker y Resultados: Se sincronizan con tus servicios de Redis y Postgres
broker_url = ${AIRFLOW__CELERY__BROKER_URL}
result_backend = ${AIRFLOW__DATABASE__SQL_ALCHEMY_CONN}

[scheduler]
# Bajamos esto de 600 a 30 para que tus DAGs carguen rápido
dag_dir_list_interval = 30
processor_poll_interval = 1
